{% extends 'base.html' %}

{% block title %}Local businesses{% endblock %}

{% block body %}

<div class="min-h-screen bg-gradient-to-b from-black via-[#0a0a12] to-[#0f0f1a] text-white font-inter">

  <!-- Header -->
  <!-- <div class="flex justify-between items-center px-8 py-6 border-b border-[#1f1f2e]">
    <h1 class="text-2xl font-semibold text-white">Business Directory</h1>
    <button class="bg-[#7c3aed] hover:bg-[#6d28d9] text-white font-medium px-5 py-2 rounded-lg shadow-lg transition">
      Sign in to add your business
    </button>
  </div> -->

  <!-- Search and Filter -->
  <div class="px-8 py-6">
    <div class="flex items-center gap-4">
      <input type="text" placeholder="Search for businesses..." onkeyup="searchBusinesses()" id="search-bar"
        class="flex-1 rounded-lg bg-[#1a1a27] border border-[#2a2a3d] text-gray-200 placeholder-gray-500 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent transition">

      <select
        id = "sortOption" onchange="filterOptions()" class="bg-[#1a1a27] border border-[#2a2a3d] text-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent transition">
        
        <option value="none">None</option>
        <option value="highestRating">Highest Rating</option>
        <option value="lowestRating">Lowest Rating</option>
        <option value="favorites">Favorites</option>
      </select>
    </div>

    <!-- Categories -->
    <div class="flex gap-3 mt-5 flex-wrap">
      <button onclick="filterBusinesses('all',this)" class="filter-btn bg-slate-800 border border-slate-700 text-textmuted px-4 py-1.5 rounded-full text-sm hover:bg-slate-700">All</button>
      <button onclick="filterBusinesses('food',this)" class="filter-btn bg-slate-800 border border-slate-700 text-textmuted px-4 py-1.5 rounded-full text-sm hover:bg-slate-700">Food</button>
      <button onclick="filterBusinesses('drinks',this)" class="filter-btn bg-slate-800 border border-slate-700 text-textmuted px-4 py-1.5 rounded-full text-sm hover:bg-slate-700">Drinks</button>
      <button onclick="filterBusinesses('services',this)" class="filter-btn bg-slate-800 border border-slate-700 text-textmuted px-4 py-1.5 rounded-full text-sm hover:bg-slate-700">Services</button>
      <button onclick="filterBusinesses('shopping',this)" class="filter-btn bg-slate-800 border border-slate-700 text-textmuted px-4 py-1.5 rounded-full text-sm hover:bg-slate-700">Shopping</button>
      <button onclick="filterBusinesses('entertainment',this)" class="filter-btn bg-slate-800 border border-slate-700 text-textmuted px-4 py-1.5 rounded-full text-sm hover:bg-slate-700">Entertainment</button>
      <button onclick="filterBusinesses('health',this)" class="filter-btn bg-slate-800 border border-slate-700 text-textmuted px-4 py-1.5 rounded-full text-sm hover:bg-slate-700">Health</button>
      {% if user %}
      <button id = "createbusinessBtn" class="bg-[#7b6ef6] text-white font-semibold px-4 py-2 rounded-xl hover:bg-[#6759d9] ml-auto transition"> Add Your business</button>

      <div
      id="createbusiness-modal"
      class="hidden fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50">

        <div class="bg-[#1a2234] rounded-2xl shadow-xl w-full max-w-md mx-4 p-8 relative">
          <!-- Close button -->
          <button id="closebusinessModalBtn" class="absolute top-3 right-3 text-gray-400 hover:text-white text-2xl">
            &times;
          </button>

          <!-- Modal content -->
          <h2 class="text-2xl font-bold text-center mb-4">Add your business</h2>
          <p class="text-gray-400 text-center mb-6">Add your business to the local business directory for users to discover your business ! </p>

          <form class="space-y-4" action="/create-business" method="POST">
            <input
              type="string"
              name="businessName"
              placeholder="business Name"
              class="w-full bg-[#252f47] text-white px-4 py-2 rounded-lg focus:ring-2 focus:ring-[#7b6ef6] focus:outline-none"
            />
            <select
              name="businessCategory"
              class="w-full bg-[#252f47] text-white px-4 py-2 rounded-lg focus:ring-2 focus:ring-[#7b6ef6] focus:outline-none"
            >
              <option value="food">Food</option>
              <option value="drinks">Drinks</option>
              <option value="services">Services</option>
              <option value="shopping">Shopping</option>
              <option value="entertainment">Entertainment</option>
              <option value="health">Health</option>
              
            </select>

            <input
              type="string"
              name="timePeriod"
              placeholder="business Hours"
              class="w-full bg-[#252f47] text-white px-4 py-2 rounded-lg focus:ring-2 focus:ring-[#7b6ef6] focus:outline-none"
            />

            <input
              type="string"
              name="phoneNumber"
              placeholder="business Phone Number"
              class="w-full bg-[#252f47] text-white px-4 py-2 rounded-lg focus:ring-2 focus:ring-[#7b6ef6] focus:outline-none"
            />

            <input
              type="string"
              name="businessAddress"
              placeholder="business Address"
              class="w-full bg-[#252f47] text-white px-4 py-2 rounded-lg focus:ring-2 focus:ring-[#7b6ef6] focus:outline-none"
            />

            <textarea
              type="text"
              name="description"
              placeholder="Describe what your business does"
              class="w-full bg-[#252f47] text-white px-4 py-3 rounded-lg focus:ring-2 focus:ring-[#7b6ef6] focus:outline-none resize-y text-base placeholder-gray-400"
            ></textarea>

            <button
              type="submit"
              value="submit"
              class="w-full bg-[#7b6ef6] hover:bg-[#6759d9] text-white font-semibold py-2 rounded-lg transition"
            >
              Add business
            </button>
          </form>
          
      </div>
      {% endif %}
    </div>
  </div>

  <!-- Businesses -->
  <div class="px-8 mt-10">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8" id="business-container">
      <!-- Card Template -->

      {% for business in businessInfo %}
      <div onclick="window.location.href='/business/{{business.id}}'"  data-favorite = "{% if user %} {% if business.name in user.favorites %} 1 {% else %} 0 {% endif %} {% else %} 0 {% endif %}" data-rating = " {{ratings[loop.index-1]}}" class="bg-[#12121a] rounded-2xl border border-[#2a2a3d] overflow-hidden shadow-lg hover:shadow-purple-900/40 transition business" data-type="{{business.category}}">
        <div class="relative">
          <img src="https://www.creativefabrica.com/wp-content/uploads/2019/02/Online-shop-shopping-shop-logo-by-DEEMKA-STUDIO.jpg"
            class="w-full h-52 object-cover opacity-90 hover:opacity-100 transition" alt="">
          <span class="absolute top-3 left-3 bg-purple-600 text-xs px-3 py-1 rounded-full shadow text-white font-medium">
            {{business.category}}
          </span>

          {% if user %}
          {% if user.businesses %}
          {% if business.uniqueId in user.businesses %}
          <button onclick="event.stopPropagation(); toggleModalOn({{business.uniqueId}});" class="bg-[#1a1a27]/70 rounded-full p-2 hover:bg-red-600 transition" style="position: absolute; bottom:10px; right:10px;">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-500 hover:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
          </button>
          {% endif %}
          {% endif %}
          
          <form method="POST" action="/business/{{business.id}}/favorites">
            <button class="absolute top-3 right-3 bg-[#1a1a27]/70 rounded-full p-2 hover:bg-purple-700 transition text-white">
              {% if business.name in user.favorites %}
              ❤️
              {% else %}
              🤍
              {% endif %}
            </button> 
            
          </form>
          {% endif %}
        </div>
        <div class="p-5">
          <h3 class="font-semibold text-lg text-gray-100 business-name">{{business.name}}</h3>
          <div class="flex items-center text-yellow-400 text-sm mt-1">
            {% for star in range(ratings[loop.index-1]) %}
              <span class="text-yellow-400">★</span>
            {% endfor %}
            {% for star in range(5-ratings[loop.index-1]) %}
              <span class="text-yellow-400">☆</span>
            {% endfor %} 
          </div>
          <div class="text-gray-400 text-sm mt-3">
            <p>📍 {{business.address}}</p>
            <p>📞 {{business.phone}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!--Delete Modal-->
  <div class="deleteBusinessModal hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full flex items-center justify-center">
    <div class="relative p-8 border w-96 shadow-lg rounded-xl bg-white">
        <div class="text-center">
            <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-red-100 mb-4">
                <svg class="h-6 w-6 text-red-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path>
                </svg>
            </div>
            <h3 class="text-xl font-bold text-gray-900">Are you sure?</h3>
            <p class="text-sm text-gray-500 mt-2">
                This action is permanent and cannot be reversed. Do you wish to continue?
            </p>
            <div class="flex flex-row justify-center gap-3 mt-6">
                <button onclick="toggleModalOff();" class="px-4 py-2 bg-gray-200 text-gray-800 text-sm font-semibold rounded-lg hover:bg-gray-300 transition-colors w-full">
                    Deny
                </button>
                <button onclick="deleteBusiness()" class="px-4 py-2 bg-red-600 text-white text-sm font-semibold rounded-lg hover:bg-red-700 transition-colors shadow-md w-full">
                    Confirm
                </button>
            </div>
        </div>
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='sortAndFilter.js')}}"></script>

<script>
  const deleteModal = document.querySelector(".deleteBusinessModal")

  function toggleModalOn(businessInfo){
    deleteModal.classList.remove("hidden")
    //pass the business ID we want to delete to the modal
    deleteModal.dataset.uniqueId = businessInfo
    console.log(deleteModal.dataset.uniqueId)
  }
  function toggleModalOff(){
    deleteModal.classList.add("hidden")
  }

  function deleteBusiness(){
    let uniqueId = deleteModal.dataset.uniqueId

    //send it to backend
    fetch("business/delete", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            uniqueId : uniqueId
        })
    }).then(response => {
        location.reload();
    });

    
  }


</script>

{% if user %}
<script>
  const modal = document.getElementById("createbusiness-modal");
  const openModalBtn = document.getElementById("createbusinessBtn");
  const closeModalBtn = document.getElementById("closebusinessModalBtn");

  openModalBtn.addEventListener("click", () => {
    modal.classList.remove("hidden");
  });

  closeModalBtn.addEventListener("click", () => {
    modal.classList.add("hidden");
  });

  window.addEventListener("click", (e) => {
    if (e.target === modal) modal.classList.add("hidden");
  });
</script>
{% endif %}

{% endblock %}
